.teaser {
    margin-bottom: 25px;
}

.teaser h1 {
    top: 20%;
}

.entry {
    display: flex;
    justify-content: center;
    margin: 60px 40px;
    gap: 35px;
}

.entry img {
    max-width: 290px;
}

.entry p {
    padding-right: 30px;
}

.content-container {
    padding: 0 50px;
}