* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.5pt;
    line-height: 150%;
}

.fixed-width {
    width: 1000px;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.header-content {
    padding: 0 50px;
    height: 80px;
    display: flex;
}

header a, header a img {
    height: 50px;
    margin: auto;
}

header nav {
    flex-grow: 1;
    text-align: right;
    margin: auto;
}

header nav a {
    margin: 0 20px;
}

header nav a:visited, header nav a:link, header nav a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #4d4d4d;
    color: white;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    padding: 25px 40px 25px 50px;
}

.footer-element {
    flex-grow: 1;
    flex-basis: 0;
    margin:auto;
}

.footer-nav {
    text-align: right;
}

.footer-nav a {
    margin: 0 10px;
    font-size: 0.75rem;
}

.footer-nav a:link, .footer-nav a:visited, .footer-nav a:hover {
    color: white;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;
}

footer img {
    height: 40px;
}

.copyright {
    text-align: center;
}

.copyright p {
    font-size: 0.75rem;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 1.175em;
}

h4 {
    font-style: italic;
    font-size: 0.915em;
}

p, a {
    line-height: normal;
    font-size: 0.915em;
}

.content-container {
    padding: 0px 50px 30px 50px;
}

.bold {
    font-weight: bold;
}

.teaser {
    position: relative;
    text-align: center;
}

.teaser h1 {
    position: absolute;
    left: 50px;
    color: white;
    font-size: 2.35rem;
    text-align: left;
    max-width: 300px;
}

.teaser img {
    width: 1000px;
    max-height: 375px;
    object-fit: cover;
}