.teaser {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.teaser h1 {
    position: absolute;
    top: 30%;
    left: 50px;
    color: white;
    font-size: 2.35rem;
    text-align: left;
    max-width: 300px;
}

.teaser img {
    width: 1000px;
    max-height: 375px;
    object-fit: cover;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    margin: 50px 125px;
    text-align: center;
}

.feature img {
    height: 70px;
}

.feature-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.feature-main {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature-description {
    padding: 0 30px;
}