.teaser {
    margin-bottom: 50px;
}

.teaser h1 {
    top: 30%;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    margin: 50px 125px;
    text-align: center;
}

.feature img {
    height: 70px;
}

.feature-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.feature-main {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature-description {
    padding: 0 30px;
}